{% extends 'adminbase.html'%}

{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p> <h4 class="card-title">All Coupons</h4>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ADD
  </button></p>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Coupon</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'add_coupon'%}" method='post'>
                {% csrf_token %}
                <fieldset >
                  
                  <div class="mb-3">
                    <label  class="form-label">Code</label>
                    <input type="text" name="coupon-code" id="disabledTextInput" class="form-control" placeholder="enter CODE">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Discount</label>
                    <input type="text" name="discount" id="disabledTextInput" class="form-control" placeholder="enter Discount">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Start Date</label>
                    <input type="date" name="start" id="disabledDateInput" class="form-control" placeholder="Date">
                </div>
                  <div class="mb-3">
                    <label class="form-label">End Date</label>
                    <input type="date" name="end" id="disabledDateInput" class="form-control" placeholder="Date">
                </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class=" submit btn btn-primary">Add</button>
        </div>
    </fieldset>
</form>
      </div>
    </div>
  </div>


        <table class="table table-bordered">
          <thead>
            <tr >
              <th> id </th>
              <th> CODE </th>
              <th> Discount </th>
              <th> Start </th>
              <th> Expire </th>
              <th> Status </th>
              
            </thead>
            <tbody>
                {% for i in coupons %}
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.code}}
                    </td>
                    <td>
                        {{i.discount}}%
                    </td>
                    <td>
                        {{i.start_date}}
                    </td>
                    <td>
                        {{i.end_date}}
                    </td>
                    <td>
                        
                        <form action="{% url 'couponactivate' id=i.id %}" method='post'>
                            {% csrf_token %}

                            <select class="form-select form-select-xs mb-3 " style="width: max-content;"
                                name="action" onchange="this.form.submit()">
                                <option {% if not i.is_active %} selected {% endif %} value='nonactive'>
                                    Inactive</option>
                                <option{% if i.is_active %} selected {% endif %} value='active'>Active
                                    </option>

                            </select>

                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div> 
                        


{% endblock %}